html,body{
  height: 100%;
}
body{
    background: url("../images/concrete_seamless.png");
}
#btn-submit, .carousel-caption{
  background-color: #4aaaa5;
}

h1, h2, h3{
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  color: #4aaaa5;
  
}
.mr-logo{
  color: #fff;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  background: #4aaaa5;
}

.pull-left {
    padding-right: 20px;
}

  .nav-bar-styles{
      background: #fff;
      border-bottom: 3px solid #ddd;
      color: rgb(155, 18, 59);      
  }

  .jt-color{
    background: #fff;
  }

  .mr-footer {
    margin-top: 50px;
    padding: 30px 0;
    clear: both;
    font-size: 12px;
    color: #fff;
    text-align: center;
    background: #666;
    border-top: 8px solid #4aaaa5;
    
  }  	
  .navbar-toggle{
   
   border: 1px solid  #4aaaa5;
  }

  .icon-bar{
    background-color: #4aaaa5;
  }

.pad {
    background-clip: padding-box;
    border: 10px solid transparent;
}
